h1 {
    font-size: 20px;
}

.openingsuren h2, .contact-info h2, .contact-details h2 {
    background-color: #ff6600;
    color: #fff;
    padding: 10px;
    border-radius: 0;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.openingsuren ul, .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.openingsuren li, .contact-info li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.dark-mode .openingsuren ul li, .dark-mode .contact-info ul li {
    border-bottom: 1px solid #555;
}