/* Responsieve aanpassingen */
@media (max-width: 768px) {
    .footer {
        font-size: 16px;
        padding: 10px;
    }
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

.dark-mode .footer {
    background-color: #444;
    color: #f4f4f9;
}