/* Responsieve aanpassingen */
@media (max-width: 768px) {
    .main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute; /* Laat het menu onder de knop verschijnen */
        top: 100%; /* Positie direct onder de knop */
        left: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        z-index: 10; /* Zorg ervoor dat het menu boven andere elementen komt */
    }

    .main-nav a {
        padding: 15px 20px;
        margin: 0;
        text-align: center;
        border-top: 1px solid #ddd;
        text-decoration: none;
        font-size: 18px;
        color: #333;
    }

    .main-nav a:hover {
        background-color: #f4f4f9;
    }

    .logo-nav-container {
        flex-direction: column;
        padding: 20px;
    }

    header .logo img {
        height: 80px;
    }

    header nav a {
        font-size: 18px;
        margin: 10px 0;
    }

    .sidebar {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .footer {
        font-size: 16px;
        padding: 10px;
    }

    .hamburger-icon {
        display: block;
    }

    header nav {
        display: none;
    }

    #main-nav.open {
        display: flex;
    }

    .toggle-container {
        display: none;
    }
}

@media (max-width: 480px) {
    .toggle-container {
        width: 80px;
        height: 25px;
    }

    .toggle-circle {
        width: 16px;
        height: 16px;
        left: 20px;
    }

    body.dark-mode .toggle-circle {
        left: 40px;
    }

    .sidebar {
        font-size: 16px;
    }

    .content {
        font-size: 18px;
    }

    .content h1 {
        font-size: 28px;
    }
}

.main-nav {
    display: block;
}

.main-nav a {
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 20px;
}

.main-nav a.active-page {
    color: #ff6600;
    text-decoration: underline;
    font-weight: bold;
}

.main-nav a:hover {
    color: #ff6600;
    background-color: #f4f4f9;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

header .logo img {
    height: 100px;
}

header nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 18px;
}

header nav a.active-page {
    color: #ff6600;
    text-decoration: underline;
    font-weight: bold;
}

header nav a:hover {
    color: #ff6600;
}

.dark-mode header nav a {
    color: #f4f4f9;
}

.dark-mode header nav a:hover {
    color: #ff6600;
}

body.dark-mode header {
    background-color: #444;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}
