@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-right: 40px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 80%;
        height: auto;
        font-size: 16px;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}

.sidebar {
    width: 325px; /* Fixed width */
    height: 500px; /* Fixed height */
    margin-right: 40px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

.dark-mode .sidebar {
    background-color: #444;
    color: #f4f4f9;
}

.openingsuren h2, .contacteer-ons h2 {
    background-color: #ff6600;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.openingsuren ul, .contacteer-ons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.openingsuren ul li, .contacteer-ons ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.dark-mode .openingsuren h2, .dark-mode .contacteer-ons h2 {
    background-color: #e65c00;
}

.dark-mode .openingsuren ul li, .dark-mode .contacteer-ons ul li {
    border-bottom: 1px solid #555;
}