/* Stijlen voor het hamburgermenu */
.hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative; /* Zorgt ervoor dat het menu onder de knop verschijnt */
}

.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Verbeterde algemene stijl */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    width: 100px;
    height: 30px;
    transition: background-color 0.3s;
}